<div class="container centered">
	<h3>{{quizData.title}}</h3>
	<form>
	<div class="form-group" ng-repeat="question in quizData.questions">
		<label class="control-label" for="q_{{$$index}}"> {{question.text}} </label>
		<div class="" ng-if="question.type == 'numeric'">
			<input ng-model="questions[$index]" class="form-control" type="number">
		</div>

		<div class="" ng-if="question.type == 'multiple_select'">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-primary" ng-repeat="choice in question.choices">
					<input type="radio" name="options" id="o_{{choice}}"> {{choice}}
				</label>
			</div>
		</div>

		<div class="" ng-if="question.type == 'time'">
			<input class="form-control" type="time">
		</div>
	</div>
			<button ng-if="quiz.questions.length > 0" type="button" class="btn btn-primary" ng-click="submitQuiz()">Submit Quiz</button>

	</form>
</div>
