.candPic{
    height: 130px;
    width: 100px;
    margin: 5px;
}

.imageCol{
    width: 240px;
}

#resultTable {
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 25px 25px 0px 0px;
}
#resultTable td{
    text-shadow: black 1px 1px 4px;
    vertical-align: middle;
}
#resultTable thead{
    background: #000;
}
.container{
    width: 959px;
}

path.state.zoomedState:hover, rect.state.zoomedState:hover{
    opacity: 1;
}

path.state:hover, rect.state:hover{
    opacity: 0.7;
}
